{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
  input[type='email'] {
      background-color: var(--color-bg);
      outline: none;
  }
</style>

{% include "navbar.html" %}

<div class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary dark:shadow-thick rounded-3xl p-8 h-full flex flex-col justify-between items-center overflow-hidden text-left lg:text-left">

    <div class="text-lg leading-6 mb-5 text-center">
      <p class="font-normal text-primary dark:text-white">
        <span class="inset-0"></span>
        recuperar senha
      </p>
    </div>
  
    <form action="{% url "reset_password" %}" method="POST">
        {% csrf_token %}
    
        {% for field in form %}
        <label
          class="relative mb-3 block overflow-hidden rounded-lg dark:text-zinc-200 bg-zinc-100 dark:bg-tertiary ring-1 dark:ring-white/10 px-3 pt-3 ring-primary/5 appearance-none focus:ring-white/20 placeholder-zinc-400 focus:border-zinc-300 focus:bg-primary focus:outline-none focus:ring-indigo-500 sm:text-sm">
          {{ field }}
    
          <span
            class="absolute start-3 top-3 -translate-y-1/2 text-xs text-zinc-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs">
            {{ field.label | lower }}
          </span>
        </label>
        {% endfor %}
    
        <div class="mt-4 sm:ml-0 sm:mt-4 sm:flex-shrink-0">
          <button type="submit" class="text-sm py-2 w-full px-4 h-12 font-norma focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-center">
            recuperar
          </button>
        </div>
    </form>
  
    {% if messages %}
    <ul class="messages text-center">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium bg-red-500/10 text-red-500 ring-1 ring-inset ring-gray-500/10">
            {{ message }}</p>
          </span>        
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  
</div>

{% endblock content %}