{% extends 'account.html' %}
{% load static %}

{% block info %}
    <div class="relative flex items-center gap-x-4">
        <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
                <a href="{% url "users:user" %}">
                    <span class="absolute inset-0"></span>
                    {% if request.user.username %}
                    @{{ request.user.username }}
                    {% else %}
                    {{ request.user.email }}
                    {% endif %}
                </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
            {{ request.user.name }}
            </p>
        </div>
    </div>

    <p class="mt-6 text-xs text-zinc-400"></p>
    <p class="text-sm text-zinc-500 dark:text-zinc-400 font-normal lg:text-lg">
        dados do usuário
    </p>

    <form action="{% url "users:update_user" %}"
        method="POST"
        class="mt-6">

        {% csrf_token %}
    
        {% for field in form %}
        <label
          class="relative mb-3 block overflow-hidden rounded-lg dark:text-zinc-200 bg-zinc-100 dark:bg-tertiary ring-1 dark:ring-white/10 px-3 pt-3 ring-primary/5 appearance-none focus:ring-white/20 placeholder-zinc-400 focus:border-zinc-300 focus:bg-primary focus:outline-none focus:ring-indigo-500 sm:text-sm">
          {{ field }}
    
          <span
            class="absolute start-3 top-3 -translate-y-1/2 text-xs text-zinc-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs">
            {{ field.label | lower }}
          </span>
        </label>
        {% endfor %}
    
        <div class="mt-4 sm:ml-0 sm:mt-4 sm:flex-shrink-0">
          <button type="submit" class="text-sm py-2 w-full px-4 h-12 font-norma focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-center">
            atualizar
          </button>
        </div>
    </form>

    <div class="items-center justify-center text-center">
    {% if form.errors %}
    {% for field, errors in form.errors.items %}
      <ul class="mt-3">
        {% for error in errors %}
          <li>
            <span class="inline-flex mt-1 rounded-md px-2 py-1 text-xs font-medium bg-red-500/10 text-red-500 dark:text-red-400 ring-1 ring-inset ring-gray-500/10">
              {{ error | lower }}
            </span>    
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
    {% endif %}
  </div>

    <form
        action="{% url "users:delete_user" %}"
        method="POST"
        class="mt-6">
        {% csrf_token %}
    
        <div class="mt-4 sm:ml-0 sm:mt-4 text-center sm:flex-shrink-0">
          <button 
            type="submit" 
            class="text-sm text-zinc-500 dark:text-zinc-400">
            excluir conta
          </button>
        </div>
    </form>

    <div class="mt-4 sm:ml-0 sm:mt-4 text-center sm:flex-shrink-0">
      <a 
        href="{% url "password_change" %}" 
        class="text-sm text-zinc-500 dark:text-zinc-400">
        alterar senha
      </a>
    </div>

{% endblock info %}