{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8">
    <div class="relative flex items-center gap-x-4">
        <img
            src="{% static "images/avatar.jpg" %}"
            alt=""
            class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"/>
        <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
            <a href="#">
                <span class="absolute inset-0"></span>
                @{{ request.user.username }}
            </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
            {{ request.user.first_name }} {{ request.user.last_name }}
            </p>
        </div>
    </div>

    <p class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white">
    Hey, welcome to my site!
    </p>

    <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-normal lg:text-lg">
    I'm a digital designer, developer, and surfer from Malibu. In the
    digital world, I craft interfaces and dive into coding intricacies.
    </p>
</div>

{% endblock content %}