{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="grid grid-rows-4 grid-flow-col gap-4">
  <div class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary dark:text-white dark:shadow-thick rounded-3xl p-8 h-full flex flex-col justify-between items-stretch overflow-hidden text-center lg:text-left">
    1
  </div>
  <div class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary dark:text-white dark:shadow-thick rounded-3xl p-8 h-full flex flex-col justify-between items-stretch overflow-hidden text-center lg:text-left">
    2
  </div>
  <div class="lg:col-span-2 xl:col-span-1 h-full flex flex-col justify-between lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 dark:text-white bg-white dark:bg-secondary dark:shadow-thick rounded-3xl p-8">
    <p>3</p>
   </div>

   <div class="lg:col-span-2 xl:col-span-1 text-center h-full flex flex-col justify-center lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary dark:shadow-thick rounded-3xl p-8">
    <div class="flex gap-x-1 justify-center">
      <button id="light-theme-button" aria-label="Light theme" class="group size-10 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="group-hover:stroke-zinc-500 dark:stroke-white group-hover:dark:stroke-zinc-500 transition-colors duration-300 ease-in-out">
          <circle cx="12" cy="12" r="5"></circle>
          <line x1="12" y1="1" x2="12" y2="3"></line>
          <line x1="12" y1="21" x2="12" y2="23"></line>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
          <line x1="1" y1="12" x2="3" y2="12"></line>
          <line x1="21" y1="12" x2="23" y2="12"></line>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
      </button>

      <button id="dark-theme-button" aria-label="Dark theme" class="group size-10 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="group-hover:stroke-zinc-500 dark:stroke-white group-hover:dark:stroke-zinc-500 transition-colors duration-300 ease-in-out">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
      </button>

      <button id="system-theme-button" aria-label="System theme" class="group size-10 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="group-hover:stroke-zinc-500 dark:stroke-white group-hover:dark:stroke-zinc-500 transition-colors duration-300 ease-in-out">
          <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
          <line x1="8" y1="21" x2="16" y2="21"></line>
          <line x1="12" y1="17" x2="12" y2="21"></line>
        </svg>
      </button>
    </div>
   </div>
</div>

<div class="ring-1 bg-white dark:bg-secondary dark:shadow-thick dark:ring-white/10 ring-primary/5 rounded-3xl p-8 flex flex-col justify-between items-center overflow-hidden text-center lg:text-left">
    <div>
      <p
        class="text-6xl text-primary dark:text-white lg:text-7xl tracking-tight underline decoration-3 decoration-pink-400">
        o erp do futuro!
      </p>

      <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none">
        
      </p>

    </div>
</div>

<a href="#">
  <div class="lg:col-span-1 xl:col-span-1 h-full dark:hover:bg-tertiary dark:hover:text-white dark:text-primary dark:bg-secondary bg-white hover:shadow-xl text-white hover:text-primary ring-inset ring-gray-500/10 flex flex-col justify-between lg:row-span-1 ring-1 dark:shadow-thick rounded-3xl p-8">
    <p class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-1xl">
      Automatize tarefas, reduza erros operacionais e
      economize tempo e dinheiro com a simplificação da gestão.
    </p>
    
    <p class="text-primary dark:text-white mt-4">pdv</p>
  </div>
</a>

<div class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary dark:shadow-thick rounded-3xl p-8 h-full flex flex-col justify-between items-stretch overflow-hidden text-center lg:text-left">

  <div class="text-lg leading-6 mb-5">
    <p class="font-semibold text-primary dark:text-white">
      <span class="inset-0"></span>
      acesse sua conta
    </p>
  </div>

  <form action="" method="POST">
    {% csrf_token %}
    <label
      for="UserEmail"
      class="relative mb-3 block overflow-hidden rounded-md dark:text-zinc-200 bg-zinc-100 dark:bg-tertiary ring-1 dark:ring-white/10 px-3 pt-3 ring-primary/5 appearance-none focus:ring-white/20 placeholder-zinc-400 focus:border-zinc-300 focus:bg-primary focus:outline-none focus:ring-indigo-500 sm:text-sm">
      <input
        type="email"
        id="UserEmail"
        placeholder="Email"
        class="peer h-8 w-64 border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"/>

      <span
        class="absolute start-3 top-3 -translate-y-1/2 text-xs text-zinc-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs">
        email ou usuário
      </span>
    </label>

    <label
      for="Password"
      class="relative mb-3 block overflow-hidden rounded-md dark:text-zinc-200 bg-zinc-100 dark:bg-tertiary ring-1 dark:ring-white/10 px-3 pt-3 ring-primary/5 appearance-none focus:ring-white/20 placeholder-zinc-400 focus:border-zinc-300 focus:bg-primary focus:outline-none focus:ring-indigo-500 sm:text-sm">
      <input
        type="password"
        id="Password"
        placeholder="Password"
        class="peer h-8 w-64 border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"/>

      <span
      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-zinc-500 dark:text-zinc-400 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs">
      senha
      </span>
    </label>

    <p class="text-sm text-right text-zinc-500 dark:text-zinc-400 mt-1">
      <a href="#" class="underline">esqueci minha senha</a>
    </p>

    <div class="mt-4 sm:ml-0 sm:mt-4 sm:flex-shrink-0">
      <button type="submit" class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-center">
        entrar
      </button>
    </div>
  </form>

  <p class="text-sm text-zinc-500 dark:text-zinc-400 mt-6">
    <a href="#" class="underline">criar uma nova conta</a>
  </p> 

</div>

<div class="lg:col-span-2 xl:col-span-2 h-full flex flex-col justify-between lg:row-span-1 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:text-white dark:bg-secondary dark:shadow-thick rounded-3xl p-8">
 <p>5</p>
</div>

{% endblock content %}