<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP</title>
    <link rel="stylesheet" href="{% static "output.css" %}" type="text/css">
    <script is:inline>
      function init() {
        preloadTheme();

        const lightThemeButton = document.getElementById("light-theme-button");
        lightThemeButton?.addEventListener("click", () => {
          localStorage.setItem("theme", "light");
          toggleTheme(false);
        });

        const darkThemeButton = document.getElementById("dark-theme-button");
        darkThemeButton?.addEventListener("click", () => {
          localStorage.setItem("theme", "dark");
          toggleTheme(true);
        });

        const systemThemeButton = document.getElementById(
          "system-theme-button",
        );

        systemThemeButton?.addEventListener("click", () => {
          localStorage.setItem("theme", "system");
          toggleTheme(
            window.matchMedia("(prefers-color-scheme: dark)").matches,
          );
        });

        window
          .matchMedia("(prefers-color-scheme: dark)")
          .addEventListener("change", (event) => {
            if (localStorage.theme === "system") {
              toggleTheme(event.matches);
            }
          });
      }

      function toggleTheme(dark) {
        const css = document.createElement("style");

        css.appendChild(
          document.createTextNode(
            `* {
             -webkit-transition: none !important;
             -moz-transition: none !important;
             -o-transition: none !important;
             -ms-transition: none !important;
             transition: none !important;
          }
        `,
          ),
        );

        document.head.appendChild(css);

        if (dark) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }

        window.getComputedStyle(css).opacity;
        document.head.removeChild(css);
      }

      function preloadTheme() {
        const userTheme = localStorage.theme;

        if (userTheme === "light" || userTheme === "dark") {
          toggleTheme(userTheme === "dark");
        } else {
          toggleTheme(
            window.matchMedia("(prefers-color-scheme: dark)").matches,
          );
        }
      }

      document.addEventListener("DOMContentLoaded", () => init());
      document.addEventListener("astro:after-swap", () => init());
      preloadTheme();
    </script>
</head>
<body class="dark:bg-primary bg-zinc-200">

  <section class="h-screen flex flex-col">
    <div class="p-4 flex-grow overflow-auto">
      <div class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4">
        
        <div class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary dark:shadow-thick rounded-3xl p-8 h-full flex flex-col">
          <nav>
            <div class="relative flex items-center gap-x-4">
              <a href="{% url "users:index" %}" class="text-sm">
                <span class="inline-flex items-center rounded-md dark:hover:bg-tertiary dark:hover:text-white dark:text-primary dark:bg-white px-2 py-1 text-xs font-medium bg-primary/10 hover:bg-primary/25 text-primary hover:text-primary ring-1 ring-inset ring-gray-500/10">
                  início
                </span>
              </a>
        
              <a href="{% url "users:login" %}" class="text-sm">
                <span class="inline-flex items-center rounded-md dark:hover:bg-tertiary dark:hover:text-white dark:text-primary dark:bg-white px-2 py-1 text-xs font-medium bg-primary/10 hover:bg-primary/25 text-primary hover:text-primary ring-1 ring-inset ring-gray-500/10">
                  entrar
                </span>
              </a>

              <a href="{% url "users:profile" %}" class="text-sm">
                <span class="inline-flex items-center rounded-md hover:bg-blue-800 dark:hover:text-white px-2 py-1 text-xs font-medium bg-blue-600 text-stone-100 hover:text-stone-100 ring-1 ring-inset ring-gray-500/10">
                  teste grátis
                </span>
              </a>
            </div>
          </nav>
        
          <p class="text-xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white">
            bem-vindo
          </p>

          {% comment %} <div class="relative flex items-center gap-x-4">
            <img
                src="{% static "images/avatar.jpg" %}"
                alt=""
                class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"/>
            <div class="text-sm leading-6">
                <p class="font-semibold text-primary dark:text-white">
                <a href="#">
                    <span class="absolute inset-0"></span>
                    Hugo Belém
                </a>
                </p>
                <p class="text-zinc-500 dark:text-zinc-400">
                minha conta
                </p>
            </div>
          </div> {% endcomment %}

          <br>
          <br>
        
          <!-- This div is positioned at the bottom using mt-auto -->
          {% comment %} <div class="grid grid-cols-2 gap-4 mt-auto">
            <div class="relative flex items-end gap-x-1 justify-items-end">
              <button id="light-theme-button" aria-label="Light theme" class="group size-10 flex items-center justify-center rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="group-hover:stroke-zinc-500 dark:stroke-white group-hover:dark:stroke-zinc-500 transition-colors duration-300 ease-in-out">
                  <circle cx="12" cy="12" r="5"></circle>
                  <line x1="12" y1="1" x2="12" y2="3"></line>
                  <line x1="12" y1="21" x2="12" y2="23"></line>
                  <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                  <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                  <line x1="1" y1="12" x2="3" y2="12"></line>
                  <line x1="21" y1="12" x2="23" y2="12"></line>
                  <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                  <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
              </button>
        
              <button id="dark-theme-button" aria-label="Dark theme" class="group size-10 flex items-center justify-center rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="group-hover:stroke-zinc-500 dark:stroke-white group-hover:dark:stroke-zinc-500 transition-colors duration-300 ease-in-out">
                  <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
              </button>
        
              <button id="system-theme-button" aria-label="System theme" class="group size-10 flex items-center justify-center rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="group-hover:stroke-zinc-500 dark:stroke-white group-hover:dark:stroke-zinc-500 transition-colors duration-300 ease-in-out">
                  <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                  <line x1="8" y1="21" x2="16" y2="21"></line>
                  <line x1="12" y1="17" x2="12" y2="21"></line>
                </svg>
              </button>
            </div>
          </div> {% endcomment %}
        </div>

        {% block content %}
        {% endblock content %}
        
      </div>
    </div>
  </section>

  <script src="{% static "js/script.js" %}"></script>
</body>
</html>